.section {
  padding: 16px 0;
}

.panel {
  padding: 32px;
  border-radius: var(--radius-panel);
  background: var(--color-products);
}

@media (max-width: 899px) {
  .section {
    padding: 12px 0;
  }

  .panel {
    padding: 24px 20px;
  }
}

.filters {
  margin-bottom: 32px;
}

@media (max-width: 899px) {
  .filters {
    display: none;
  }
}
